import os
os.chdir('/Users/tsbis/Documents/OneDrive/SDEV220')
import zoo
zoo.hours()

import os
os.chdir('/Users/tsbis/Documents/OneDrive/SDEV220')
import zoo as menagerie
menagerie.hours()

In [13]:
import csv
books2 = [
import sqlite3
conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books
    (title VARCHAR(30) PRIMARY KEY,
     author VARCHAR(20),
     year INT)''')